body {
  margin: 0;
  padding: 0;
}

#function{
  background-color: magenta;
  margin: 0;
  padding: 10px 0px;
}

#es6{
  background-color: gold;
  margin: 0;
  padding: 10px 0px;
}

#composing{
  background-color: chartreuse;
  margin: 0;
  padding: 10px 0px;
}

#comment{
  background-color: crimson;
  height: 150px;
}

#berfore_composing{
  float: left;
  padding: 0 50px;
  color:white;
}
#after_composing{
  float: left;
  padding: 0 50px;
  color:white;
}

#after_composing_props{
  float: left;
  padding: 0 50px;
  color:white;
}
img{
  height: 50px;
}
