body {
  margin: 0;
  padding: 0;
}

#function{
  background-color: magenta;
  margin: 0;
  padding: 10px 0px;
}

#es6{
  background-color: gold;
  margin: 0;
  padding: 10px 0px;
}

#composing{
  background-color: chartreuse;
  margin: 0;
  padding: 10px 0px;
}
