body{
  margin: 0;
  padding: 0;
}

div{
  padding: 16px 10px;
}

#oldest_timer{
  background-color: coral;
}

#simple_funciton_packed_timer{
  background-color: darkgreen;
}

#simple_class_packed_timer{
  background-color: darkblue;
}

#class_packed_timer_state{
  background-color: darkcyan;
}

#class_packed_timer_lifecycle{
  background-color: darkmagenta;
}

#sum_isolated{
  background-color: black;
}

h2,h3,h4{
  color: white;
  margin: 0;
}
